<section class="contact">

    <h1 class="heading"> <span>C</span>o<span>n</span>t<span>a</span>c<span>t</span></h1>

    <div class="row">

        <div class="info-container">

            <h1>Get in Touch</h1>

            <div class="box-container">

                <div class="box">
                    <i class="fas fa-map"></i>
                    <div class="info">
                        <h3>Address:</h3>
                        <p>Goiânia/GO - Brazil</p>
                    </div>
                </div>

                <div class="box">
                    <i class="fas fa-envelope"></i>
                    <div class="info" style="text-transform: lowercase;">
                        <h3>Email:</h3>
                        <p>dev.rabelo@gmail.com</p>
                    </div>
                </div>

                <div class="box">
                    <i class="fas fa-phone"></i>
                    <div class="info">
                        <h3>WhatsApp / Mobile:</h3>
                        <p>+55 62 9 8555-5138</p>
                    </div>
                </div>

            </div>

            <div class="share">
                <a href="https://www.instagram.com/dev.rbl/" class="fab fa-instagram" target="_blank" rel="noopener noreferrer"></a>
                <a href="https://api.whatsapp.com/send?phone=5562985555138&text=Hello%2C%20I%20would%20like%20to%20work%20on%20a%20project%20with%20you." class="fab fa-whatsapp" target="_blank" rel="noopener noreferrer"></a>
                <a href="https://github.com/VictorRabelo" class="fab fa-github" target="_blank" rel="noopener noreferrer"></a>
                <a href="https://www.linkedin.com/in/victor-rabelo-2a11ba204/" class="fab fa-linkedin" target="_blank" rel="noopener noreferrer"></a>
            </div>

        </div>

        <form #form="ngForm" (ngSubmit)="sendMail(form)" (keydown.enter)="sendMail(form)">

            <div class="inputBox">
                <input type="text" placeholder="*Your name" name="name" ngModel required #name="ngModel">
                <input type="tel" placeholder="Your phone number" name="telephone" ngModel #telephone="ngModel" mask="(00) 0 0000-0000">
            </div>

            <div class="inputBox">
                <input type="email" placeholder="*Your email" name="_replyto" ngModel required #_replyto="ngModel">
                <input type="text" placeholder="*Subject" name="_subject" ngModel required #_subject="ngModel">
            </div>

            <textarea name="complaint" placeholder="Message" cols="30" rows="10" ngModel required #complaint="ngModel"></textarea>

            <button type="submit" class="btn">
                Send Message
                <i class="fas fa-paper-plane"></i>
            </button>

        </form>

    </div>

</section>