<section class="portfolio">

    <h1 class="heading mb-neg-1"> <span>My</span> Works </h1>
    <p class="text">
        Just a showcase of developed projects.
    </p>

    <div class="box-container">

        <div class="box">
            <img src="assets/images/img-1.jpg" alt="">
            <div class="content">
                <h3>Project 01 - Repertorioficial</h3>
                <p>E-learning system with E-commerce</p>
                <p>Technologies: Angular and Laravel</p>
                <a href="https://repertoriooficial.com.br/" target="_blank" rel="noopener noreferrer">View project</a>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/img-2.jpg" alt="">
            <div class="content">
                <h3>Project 02 - GoiasPane</h3>
                <p>
                    ERP system with invoice issuance, user management, inventory control, sales, accounts payable and receivable, cash flow, and even a POS system.
                </p>
                <p>Technologies: Angular and Laravel</p>
                <a href="https://goiaspane.com/" target="_blank" rel="noopener noreferrer">View project</a>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/img-3.jpg" alt="">
            <div class="content">
                <h3>Project 03 - Casa do Importado</h3>
                <p>
                    Simple ERP system without invoice issuance, user management, inventory control, sales, accounts payable and receivable, and cash flow management.
                </p>
                <p>Technologies: Angular and Laravel</p>
                <a href="https://casadoimportadogo.com/" target="_blank" rel="noopener noreferrer">View project</a>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/img-4.jpg" alt="">
            <div class="content">
                <h3>Project 04 - Little Trees Go</h3>
                <p>
                    Simple ERP system without invoice issuance, user management, inventory control, sales, accounts payable and receivable, and cash flow management.
                </p>
                <p>Technologies: Angular and Laravel</p>
                <a href="https://littletreesgo.com/" target="_blank" rel="noopener noreferrer">View project</a>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/img-5.jpg" alt="">
            <div class="content">
                <h3>Project 05 - Delivery App</h3>
                <p>
                    Delivery system for Casa do Importado and Little Trees, the app consumes APIs from both systems.
                </p>
                <p>Technologies: Angular and Laravel</p>
                <a href="http://app.littletreesgo.com/" target="_blank" rel="noopener noreferrer">View project</a>
            </div>
        </div>

        <div class="box">
            <img src="assets/images/img-6.jpg" alt="">
            <div class="content">
                <h3>Project 06 - Web Menu</h3>
                <p>
                    An app that displays a restaurant menu, private project.
                </p>
                <p>Technologies: Ionic and Java</p>
            </div>
        </div>

    </div>

    <!-- <a href="#" class="btn"> load more <i class="fas fa-redo"></i> </a> -->

</section>