<section class="home">

    <div class="image">
        <img src="assets/images/user.png" alt="LOGO">
    </div>

    <div class="content">
        <h3>Hi, I'm Victor Rabelo</h3>
        <span>Full-Stack Web Developer</span>
        <p style="text-transform: none;">Passionate programmer dedicated to crafting high-quality projects with excellence and precision. I take great pride and joy in my work, constantly striving to improve my skills and achieve professional growth. I thrive on solving complex problems and am always eager to embrace new challenges.</p>
        <a class="btn" [routerLink]="['/about']"> 
            About me
            <i class="fas fa-user"></i>
        </a>
    </div>

</section>